#money-change{
    margin: 15px auto;
    width: 70%;
    min-width: 250px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#info-container,
#faIcon-container{
    display: flex;
    flex-flow: row;
}

#info-container{
    width: 54%;
    display: flex;
    flex-direction: row;
}

#info-container span
{
    padding: 15px;
}

#info-container span input{
    outline: none;
    border: 2px solid white;
    border-radius: 5px;
}

#info-container span:first-child{
    width: 80%;
}

#info-container span:first-child input{
    width: 80%;
    min-width: 120px;
}

#info-container span:last-child{
    width: 20%;
    text-align: right;

}

#info-container span:last-child input{
    width: 80%;
    min-width: 40px;
    text-align: right;
}

#faIcon-container span{
    margin: 15px;
    cursor: pointer;
    transition: all linear 0.15s;
}

#faCheck-container:hover,
.arrow-up{
    color: #00ff00;
}

#faSave-container:hover{
    color: #6d6dff;
}

#faEdit-container:hover{
    color: var(--support-color);
}

#faTrash-container:hover,
.arrow-down{
    color: red;
}

input.wrong-input{
    border: 2px solid red !important;
}

