#money-change-adder{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icon-container{
    cursor: pointer;

    transition: 0.15s all linear;
}

#icon-container:hover{
    color: var(--support-color);
}

#new-money-change{
    padding: 15px;
    margin: auto;
    width: 90%;

    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

#new-money-change-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#new-money-input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#new-money-change-container div,
#new-money-input-container input{
    margin: 10px;
}

#new-money-change-container div span{
    margin: 5px;
}

#new-money-change-container input{
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
    outline: none;
}

#save-container,
#remove-container{
    cursor: pointer;
    transition: 0.15s linear all;
}

#save-container:hover{
    color: green;
}

#remove-container:hover{
    color: red;
}

#message{
    opacity: 0;
    color: red;
    text-align: center;
}