#loading-screen{
    z-index: 15;
    background-color: rgba(0,0,0, 0.7);
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}


@keyframes ldio-kh9z6ia5348 {
    0 % {opacity: 1}
    100% {opacity: 0}
}
.ldio-kh9z6ia5348 div {
    left: 145.70000000000002px;
    top: 74.4px;
    position: absolute;
    animation: ldio-kh9z6ia5348 linear 1s infinite;
    background: #ffd436;
    width: 18.6px;
    height: 37.2px;
    border-radius: 9.3px / 18.6px;
    transform-origin: 9.3px 80.60000000000001px;
}.ldio-kh9z6ia5348 div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -0.9166666666666666s;
     background: #ffd436;
 }.ldio-kh9z6ia5348 div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -0.8333333333333334s;
      background: #ffd436;
  }.ldio-kh9z6ia5348 div:nth-child(3) {
       transform: rotate(60deg);
       animation-delay: -0.75s;
       background: #ffd436;
   }.ldio-kh9z6ia5348 div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6666666666666666s;
        background: #ffd436;
    }.ldio-kh9z6ia5348 div:nth-child(5) {
         transform: rotate(120deg);
         animation-delay: -0.5833333333333334s;
         background: #ffd436;
     }.ldio-kh9z6ia5348 div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.5s;
          background: #ffd436;
      }.ldio-kh9z6ia5348 div:nth-child(7) {
           transform: rotate(180deg);
           animation-delay: -0.4166666666666667s;
           background: #ffd436;
       }.ldio-kh9z6ia5348 div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.3333333333333333s;
            background: #ffd436;
        }.ldio-kh9z6ia5348 div:nth-child(9) {
             transform: rotate(240deg);
             animation-delay: -0.25s;
             background: #ffd436;
         }.ldio-kh9z6ia5348 div:nth-child(10) {
              transform: rotate(270deg);
              animation-delay: -0.16666666666666666s;
              background: #ffd436;
          }.ldio-kh9z6ia5348 div:nth-child(11) {
               transform: rotate(300deg);
               animation-delay: -0.08333333333333333s;
               background: #ffd436;
           }.ldio-kh9z6ia5348 div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
                background: #ffd436;
            }
.loadingio-spinner-spinner-xdbije6hhyq {
    width: 310px;
    height: 310px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-kh9z6ia5348 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-kh9z6ia5348 div {box-sizing: content-box;}

.loadingio-spinner-spinner-xdbije6hhyq{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}