#login-form{
    width: 100%;
    height: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    margin: 15% auto;
}

#login-form input {
    width: 80%;
    height: 35px;
    border: 1px solid black;
    outline: none;
    border-radius: 7px;
    margin: 5px auto 15px;
}

#message{
    color: red;
    opacity: 0;
}

#login-form button{
    width: 45%;
    height: 30px;

    outline: none;
    border-radius: 10px;
    border: 1px solid var(--support-color);
    margin: auto;

    background-color: var(--support-color);
    color: var(--text-color);
    font-weight: bold;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: linear all 0.1s;
}

#login-form button:hover{
    cursor: pointer;
    background-color: #ffc800;
    transform: scale(1.05);
}
