#page-header{
    color: var(--support-color);
    margin-left: 15px;
}

#page-top{
    margin: 15px;
    text-align: right;
}



#logout{
    color: white;
    cursor: pointer;
    transition: all linear 0.15s;
}

#logout:hover{
    color: var(--support-color);
}

#underline{
    width: 93%;
    height: 5px;
    border-top: 1px solid white;
    margin: auto;
}