#form-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-color);

    width: 40%;
    min-width: 300px;
    max-width: 400px;

    height: 90%;
    min-height: 200px;
    max-height: 500px;

    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#page-header{
    font-weight: bold;
}

#page-header span{
    font-weight: normal !important;
    color: white;
    font-size: small;
}