#form-chooser{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#form-chooser div{
    color: var(--secondary-text-color) !important;
    width: 50%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#form-chooser div p.active{
    color: var(--background-color) !important;
}

#form-chooser div:first-child{
    border-top-left-radius: 10px;
}

#form-chooser div:first-child{
    border-top-right-radius: 10px;
}


#form-chooser div p{
    cursor: pointer;

    display: inline-block;
    position: relative;
    font-weight: bold;

    padding-bottom: 5px;
}



#form-chooser div p:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--support-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#form-chooser div p:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

