#money-info-header{
    text-align: center;
    margin: 35px auto;
}

#money-info-edit{
    cursor: pointer;
    transition: all 0.15s linear;
}

#money-info-edit:hover{
    cursor: pointer;
    color: var(--support-color);
}

#main-money-input{
    outline: none;
    height: 40px;
    width: 150px;
    border-radius: 7px;
    font-size: x-large;
}